<h1> Add Bookmark </h1>

<form action="/bookmarks" method="post">
  <ul>
    <label for="title">Title</label>
    <input type="text" name="title", placeholder="Title" />
  </ul>
  <ul>
    <label for="url">URL</label>
    <input type="text" name="url", placeholder="URL" />
    <input type="submit" value="Submit" />
    </ul>
</form>
